# RStudio files and folders
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac OS
.DS_Store

# Output
/*.html
/*.pdf
/*.tex
# Intermediate files
/nul
/*.aux
/*.log
/*.toc
# Working folders
/*_files/
/*_cache/

# Template (copied from _extensions)
/stylisharticle.cls
