/*-- scss:defaults --*/
$red:   rgb(255, 0, 0);
$green: rgb(0, 255, 0);
$blue:  rgb(0, 0, 255);

/*-- scss:rules --*/
.color-red {
  color: $red;
}
.color-green {
  color: $green;
}
.color-blue {
  color: $blue;
}
